.collapsed-panel {
    position: fixed;
    top: 0;
    background: dimgrey;
    width: 100%;
    z-index: 1;

    .arrow-icon {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 25px;
    }
}

.collapsed-panel--off {
    height: 30px;

    .collapsed-panel__content {
        display: none;
    }

    .arrow-icon {
        bottom: -20px;
    }
}

.collapsed-panel--on {
    height: 100vh;

    .arrow-icon {
        bottom: 10px;
    }
}
