@import "../../core/styles/screens";

.auth-page {
    height: 100vh;
    background-color: #7abaff;
    overflow: hidden;
}

.auth-page__form {
    border: 1px solid black;
    border-radius: 5%;
    padding: 10px 25px;
    background-color: pink;
    height: 50vh;
    margin-top: 30px;

    @media (min-width: $desktop) {
        height: 250px;
        width: 450px;

        margin: 0 auto;
    }
}

.auth-page__logo {
    display: flex;
    justify-content: center;
}
