@import "../../styles/screens";

.grid-container {
    display: grid;
    min-height: 100%;
}

// login page
.grid-container--login-page {
    grid-template-rows: 1fr 1fr;
    align-items: center;

    .grid-item {}

    @media (min-width: $desktop) {
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;

        .grid-item {
        }
    }
}

// other pages
