.auth-form {
    width: 100%;
}

.auth-form__nav {
    margin-bottom: 10px;
}

.auth-form__input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.auth-form__input__btn {
    width: 100%;

    background-color: blueviolet;
    color: white
}
