.collapsed-panel-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: dimgrey;
}

.collapsed-panel {
    transition: height 1s ease-in-out;
    overflow: hidden;

    .arrow-icon {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 25px;
    }

    .collapsed-panel__content {
        transition: opacity 1.5s ease-in-out;
    }
}

.collapsed-panel--off {
    height: 30px;

    .collapsed-panel__content {
        opacity: 0;
    }

    .arrow-icon {
        bottom: -20px;
    }
}

.collapsed-panel--on {
    height: 100vh;

    .collapsed-panel__content {
        opacity: 1;
    }

    .arrow-icon {
        bottom: 10px;
    }
}
