.navigation {
    display: flex;
}

.navigation__tab {
    padding: 12px;
    text-decoration: none;
    color: inherit;
    margin-right: 3px;
    width: 120px;
    text-align: center;
}

.navigation__tab--disabled {
    cursor: default;
    text-decoration: line-through;
    opacity: 50%;
}
