.navigation {
    display: flex;
}

.navigation__tab {
    padding: 12px;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid grey;
    margin-right: 3px;
}
.navigation__tab--current {
    border-bottom: 2px solid black;
}

.navigation__tab--disabled {
    cursor: default;
    opacity: 50%;
}
