.login-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    border: 1px solid red;
    background-color: #7abaff;
    overflow: hidden;
}

.login-page__form {
    position: relative;
    top: 20px;
    min-height: 50vh;
    border: 1px solid black;
    border-radius: 5%;
    padding: 10px 25px;
    background-color: pink;
}
