.login-form {
    width: 100%;
}

.login-form__nav {
    margin-bottom: 10px;
}

.login-form__input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.login-form__btn {
    width: 100%;
}
