.header-navigation {
    height: 100vh;

    flex-direction: column;
    align-items: center;
    justify-content: center;


    .navigation__tab {
        color: white;
        border-bottom: 1px solid white;
    }
}
